<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Exp_Laboral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Exp_Laboral</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Nombre de Empresa" label-placement="floating" fill="solid"></ion-input>
      
    </ion-item>
       
    <ion-item>
      <ion-input label="Fecha de Inicio" type="date" presentation="year" label-placement="floating" fill="solid"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Actualmente trabaja en la empresa" label-placement="fixed" placeholder="¿Permanece en la empresa?">
        <ion-select-option value="si">Si</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Fecha de termino" type="date" presentation="year" label-placement="floating" fill="solid"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Cargo" label-placement="floating" fill="solid"></ion-input>
    </ion-item>

  </ion-list>



</ion-content>

<ion-footer> 
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button (click)="exp_lab()" value="Experiencia" >
        <ion-label>Experiencia Laboral</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="mis_datos()" value="MisDatos">
        <ion-label>Mis Datos</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="certificaciones()" value="Certificaciones">
        <ion-label>Certificaciones</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> 
</ion-footer>