ion-input{
 color: aliceblue;
}

ion-item{
    color:antiquewhite
}


ion-list{
    background-color: antiquewhite;
}

ion-card-content{
    color: antiquewhite;
}

ion-content{
    color: antiquewhite;
}